#container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 365px;
}

.gridDiv {
    height: 20px;
    width: 20px;
    border: 1px solid black;
    padding: 0;
}

