
#container {
    display: flex;
    flex-wrap: wrap;
    width: 960px;
    height: 960px;
    background-color: black;
}

.gridSquare {
    border: 1px solid black;
    margin: 0;
    box-sizing: border-box; /* Ensures the padding and border are included in the square's total width and height */
    background-color: white;
   
}

